<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Web Starter Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
</head>
<body>
<div id="react"></div>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor.bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/watson-speech.min.js}"></script>-->
<script type="text/javascript" th:src="@{/js/record.js}"></script>
</body>
</html>
